*{
  box-sizing: border-box;
  margin: 0 auto;
  /* font-size: 1.15em; */
    
  
  /* padding-left: 30px; */
  /* padding-right:30px; */
  font-size: 24px;
  /* font-family: sans-serif; */
  /* margin-left:50px; */
  

}
header,h1{
  background-color: lightseagreen
}

.navFlex{
  display: flex;
  justify-content: center;
   background-color:rgba(47, 49, 49,.3);
  padding:3px;
  margin-bottom: 10px;
  position:fixed;
  
  top:0;
  
 
}
.navHidden{
  display: none;
}


nav a{
  color:rgb(160, 94, 157);
  text-align: center;
  padding:20px;
  
}
nav a:hover{
  background-color: white;
  color: #333;
}
body{
  padding-left: 20%;
  padding-right: 20%;
  
  background-color:rgb(47, 49, 49);
  color: #8a8a8a;
  font-family: Lato,
  Helvetica,
  Arial,
  sans-serif;
  line-height: 1.7em;
  word-spacing: .02em;
  font-weight: 600;
  font-size: 24px;
}
header{
  margin-top:150px;
  /* padding-top:100px; */
}
header,footer{
  text-align: center;
  
}


div,section{
 
  padding-bottom: 40px;
  margin: 10px;
}

h2,h3{
   padding-top: 20px; 
  
  padding-bottom:30px;
}
h1{
  padding-top: 100px;
  color: #cacaca;
    font-size: 1.75em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: .1em;
    width: 100%;
    text-shadow: 2px 2px 0 rgba(0,0,0,.15);
    padding-bottom: 40px;
    
}
h2{
  font-size: 1.25em;
  line-height: 1.35em;
  font-weight: 500;
  color: #cacaca;
  
  letter-spacing: -.045em;
  
}

#portfolio{
  
  display: flex;
  flex-wrap: wrap;
   
}

.projectImg{
  width: 70%;
  
}
hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  
}
.Image{

  height:400px;
  
  border-top:20px;
  padding-top:40px;
  margin-top: 20px;
  /* width:20%;wid */
  /* width: 200px; */
  
  

  border:1px solid black;

  background-color: rgb(185, 180, 180);
  color:black;
  background : url("images/backgroundImg.jpg ");
  background-repeat: no-repeat;
  background-size: cover;

}
.sampleImage{
  width:60%;
  margin-top:40px;
}

ul{
  text-decoration: none;
}


a{
  text-decoration: none;
  
}
::selection {
  background-color: #98d4ff;
  color: #FFF;
}

.button {
  /* display: block; */
  width: 200px;
  /* height: 80px; */
  background: rgb(104, 104, 96);
  /* margin: 30px; */
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: black;
  margin-right:50px;
  margin-left:0;
  

}
.links{
  
  display:flex;
  /* border:1px solid green; */
  padding:0px;
  margin:0;
  align-content: center;
  
}


.projectImg:hover{
  background: rgb(224, 217, 217);
  cursor:pointer;
  
  color:rgb(9, 92, 148);
  
}
.button:hover{
  cursor:pointer;

  background-color:white;
  color: black;
}



.projectImg{
 width:400px;

}

nav{
  display:flex;
}

#ProjectInfo{
  padding-top:30px;
  /* text-align: center; */

} 
.infoDiv{
  text-align: center;
}
#contactInfo{
  text-align: left;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  
  .navFlex {
    flex-direction: column;
  }
  
   .navHidden {
    display:flex;   
    cursor: pointer;   
    margin:0,auto;
    align-self:baseline;

  } 
 .navFlex {
    display: none;
  } 
   

  
  

  .button {
    padding: 2px;
    overflow: auto;
  }

  .sampleImage {
    margin-left: 0;
  }
}

@media screen and (max-width:600px){
  #portfolio{
    flex-direction: column;
  
}

header{
  margin-top: 100px;
}
}




@media only screen and (max-width: 300px){
  body {
    font-size: 18px;
    padding-left:5%;
    padding-right:5%;
    
  }
  .Image{
    width:100%;
  }

}
